@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Welcome</h1>
    <p>See the <a asp-controller="Inventory" asp-action="Items">Inventory</a> for Maria Waleska Marinho de Oliveria (8751749)</p>
</div>
